footer.footer
    .footer__icon
        img(src="Users/Documents/wtskorea/images/WTS-Logo-PrimaryDate-RGB.png" width="100", height="100")
    span.footer__text &copy; Copyright 2021 Westminster Korea. All Rights Reserved.