footer.footer
    img(src="WTS-Logo-PrimaryDate-RGB.png" width=160, height=100)
    .footer__icon
        i.fab.fa-youtube 
    span.footer__text &copy; Copyright #{new Date().getFullYear()} #{siteName}. All Rights Reserved.