extends layouts/main

block content
    div.page__wrapper
        div.page__box
            p Home!!
        div.page__box
            .box__contents
                p 웨스트민스터 신학교는 그리스도와 전세계에 있는 그의 교회를 위하여 하나님의 모든 뜻을 선포하는 성경의 전문가를 양성하기 위해 존재합니다.          
        div.page__box
            p Home!!
        div.page__box
            p Home!!