extends layouts/main

block content
    .page__wrapper
        .page__box
            p Home!!
        .page__box
            .box__contents
                p 웨스트민스터 신학교는 그리스도와 전세계에 있는 그의 교회를 위하여 하나님의 모든 뜻을 선포하는 성경의 전문가를 양성하기 위해 존재합니다.          
        .page__box
            .box__history
                .history__image
                    img(src="/메이첸.png", height=500)
                .history__text
                    .history__title
                        p 위대한 이야기는
                        p 한 사람의 순종으로부터
                    .history__content
                        p 당시 미국은 유럽에서 시작된 자유주의 사상의 주도적인 흐름아래 있었으며, 개혁신학의 고귀한 전통을 이어 온 프린스턴 신학교마저 자유주의 신학에 물들어가고 있었습니다. 이에 프린스턴 신학교에서 23년간 재직 중이던 존 그레샴 메이첸 박사와 그의 비전에 동참한 동료들은 그곳에서 누리던 모든 특권을 포기하고 교수직을 사임하였습니다.
        .page__box
            p Home!!