extends layouts/main

block content
    div.page__wrapper
        div.page__box
            .box__contents
             
        div.page__box
            p Home!!
        div.page__box
            p Home!!
        div.page__box
            p Home!!