.page__wrapper{
    .page__box{
        height: 80vh;
        background-color: #f8f8f8;
        margin-bottom: 10px;
        .box__contents{
            background-image: url("https://thawing-beach-82231.herokuapp.com/이미지1.png");
        }
    }
}

p {
    font-size: 32px;;
}