.page__wrapper{
    .page__box{
        height: 90vh;
        background-color: #f8f8f8;
        margin-bottom: 10px;
        .box__contents{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                width: 740px;
                font-size: 38px;
                text-align: center;
                line-height: 1.8;
            }
        }
        .box__history{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .history__image{
                height: 550px;
                padding: 30px;
                margin-right: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .history__text{
                height: 550px;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .history__title{
                    width: 350px;
                    margin-bottom: 50px;
                    p{
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 1.4;
                    }
                }
                .history__content{
                    width: 560px;
                    p {
                        font-size: 26px;
                        line-height: 1.5;
                        text-align: justify;
                    }
                }
            }
            
        }
    }
}

p {
    font-size: 32px;
}