.page__wrapper{
    .page__box{
        height: 80vh;
        background-color: #f8f8f8;
        margin-bottom: 10px;
        .box__contents{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                width: 970px;
                font-size: 50px;
                text-align: center;
                line-height: 2;
            }
        }
    }
}

p {
    font-size: 32px;;
}