.mission {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .mission__wrapper{
        p {
            width: 800px;
            font-size: 42px;
            text-align: center;
            line-height: 2;
        }    
    }
    
}
